@import url(reset.css);
@import url(nav.css);
@import url(formbox.css);
@import url(quotes.css);
@import url(room_price.css);
@import url(grooming.css);
@import url(note.css);
@import url(QA.css);
@import url(equipment.css);
@import url(tab.css);
@import url(team.css);

/*====================================================*/
/*===                   主體樣式                     ==*/
/*====================================================*/

@font-face {
  font-family: '源泉圓體';
  src: url(../font/GenSenRounded-R.ttc);
  /* src: url(font/jf-openhuninn-1.1.ttf); */
  /*'jf open 粉圓 1.1'*/
}

body {
  background-color: #fff5ec;
  font-family: '源泉圓體','微軟正黑體';
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffecda;
}

.topSlides {
  display: none;
}

.slideshow-container {
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*====================================================*/
/*===                   按鈕樣式                     ==*/
/*====================================================*/

.button {
  /* background-color: #4CAF50;  */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: '源泉圓體';
  border-radius: 10px;
}

.button1 {
  background-color: #ff9a76;
  border: 2px solid #ff9a76;
  color: white;
}

.button1:hover {
  background-color: white;
  color: black;
  border: 2px solid #ff9a76;
}

/*====================================================*/
/*===                   標題樣式                     ==*/
/*====================================================*/

.boxTitle,
.boxTitle_column,
.boxTitle_column2 {
  text-align: center;
  /* padding-top: 40px; */
}

.boxTitle_row h1 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
}

.boxTitle_row h3 {
  color: #f0a51a;
  font-weight: bold;
  text-align: center;
}

.boxTitle_column h1 {
  color: #679b9b;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
}

.boxTitle_column h3 {
  color: #f0a51a;
  font-weight: bold;
}

.boxTitle_column2 h1 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
}

.boxTitle_column2 h3 {
  color: #f0a51a;
  font-weight: bold;
}


/*====================================================*/
/*===                   特色區塊                     ==*/
/*====================================================*/


.features {
  background-color: #fff;
  /* padding-bottom: 20px; */
  padding: 40px;
}

.featuresList {
  padding-top: 20px;
}

.featuresList ul {
  display: flex;
  justify-content: space-around;
}

.featuresList ul li {
  width: 20%;
}

.featuresList img {
  /* display: inline-block; */
  width: 72px;
  /* height: 72px; */
}

.featuresList .iconTitle {
  display: flex;
  border-bottom: 5px solid #75a2d8;
}

.featuresList .iconTitle span {
  align-self: center;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: bold;
  color: #d4a5a5;
}

.featuresList p {
  padding: 20px 0;
  line-height: 1.2em;
  text-align: justify;
}


/*====================================================*/
/*===                   服務區塊                     ==*/
/*====================================================*/


.service {
  background-color: #ffecda;
  /* padding-bottom: 20px; */
  padding: 40px;
}

.serviceList {
  padding-top: 20px;
}

.serviceList ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.serviceList ul li {
  margin-bottom: 20px;
}

.serviceList .textBoxR {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-top: 6px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 3px;
  background-color: rgba(97, 39, 0, 0.6);
  border-radius: 5px;
}

.serviceList .textBoxL {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-top: 6px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 3px;
  background-color: rgba(97, 39, 0, 0.6);
  border-radius: 5px;
}

.serviceList .textBoxR span,
.textBoxL span {
  color: #fbb03b
}

.serviceList .boarding {
  width: 250px;
  position: relative;
}

.serviceList .boarding img {
  border-radius: 10px;
}

.serviceList .boarding a {
  font-size: 1.5em;
  font-weight: bold;
  color: #f9ffea;
}

.serviceList .goorming {
  width: 250px;
  position: relative;
}

.serviceList .goorming img {
  border-radius: 10px;
}

.serviceList .goorming a {
  font-size: 1.5em;
  font-weight: bold;
  color: #f9ffea;
}

.serviceList .sitter {
  width: 250px;
  position: relative;
}

.serviceList .sitter img {
  border-radius: 10px;
}

.serviceList .sitter a {
  font-size: 1.5em;
  font-weight: bold;
  color: #f9ffea;
}

.serviceList .pickup {
  width: 250px;
  position: relative;
}

.serviceList .pickup img {
  border-radius: 10px;
}

.serviceList .pickup a {
  font-size: 1.5em;
  font-weight: bold;
  color: #f9ffea;
}

/*====================================================*/
/*===                   關於區塊                     ==*/
/*====================================================*/

.about {
  background: url(../images/bg_about.jpg)center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* min-height: 300px;  */
}

.about .bgOpacity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6b4a4ab0;
  /* background-color: #77486ead; */
  padding: 60px 60px;
}

.about .aboutText {
  max-width: 30%;
  line-height: 1.4em;
  color: rgb(255, 255, 255);
  text-align: justify;
  font-size: 1.2em;
}

.about h1 {
  color: white;
}

/*====================================================*/
/*===                   相簿區塊                     ==*/
/*====================================================*/

.photos {
  padding: 40px;
}

.photos .lightBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.photos .lightBox a {
  padding-bottom: 20px;
}

.photos .lightBox a img{
  border-radius: 10px;
}

/*====================================================*/
/*===                   預約區塊                     ==*/
/*====================================================*/

.booking {
  background: url(../images/bg_booking.jpg)center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.booking .bgOpacity {
  background-color: #6b4a4ab0;
  padding: 60px 60px;
}

/*====================================================*/
/*===                   評價區塊                     ==*/
/*====================================================*/

.rank {
  padding: 40px 0;
}

/*====================================================*/
/*===                   聯繫區塊                     ==*/
/*====================================================*/

.contact {
  background: url(../images/bg_contact.jpg)center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact .bgOpacity {
  background-color: #6b4a4ab0;
  padding: 60px 20px 40px 20px;
}

.contact .ctBox {
  display: flex;
  margin: 20px 20px 0 20px;
}

.contact .mapBox {
  margin-bottom: 5px;
}

.contact .mapBox iframe {
  border-radius: 10px;
}

.contact .ctBoxL,
.ctBoxR {
  width: 50%;
  padding: 20px;
}

.contact .infoBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact .infoBox ul {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2em;
}

.contact .ibL {
  min-width: 70px;
  text-align: right;
  padding-right: 5px;
  line-height: 1.2em;
}

.contact .ibR {
  padding-left: 5px;
  padding-right: 10px;
  border-left: 3px solid #ff9720;
}

.contact .ibR img {
  height: 36px;
}

.contact .ibR a {
  color: #fff;
}

.contact .infoBox ul li {
  padding: 5px;
  display: flex;
  align-items: center;
}

/*====================================================*/
/*===                   頁尾區塊                     ==*/
/*====================================================*/

.topFooter {
  background-color: #637373;
  padding: 30px;
  display: flex;
  align-items: center;
}

.leftLogo {
  width: 50%;
  padding-left: 10px;
}

.leftLogo .caterBlogo {
  background-image: url(../images/logo/bottom_logo.svg);
  width: 147px;
  height: 70px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.rightLogo {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.rightLogo .fblogo {
  background-image: url(../images/icon/social_fb.svg);
  width: 60px;
  height: 60px;
}

.rightLogo .iglogo {
  background-image: url(../images/icon/social_ig.svg);
  width: 60px;
  height: 60px;
}

.rightLogo .twitterlogo {
  background-image: url(../images/icon/social_twitter.svg);
  width: 60px;
  height: 60px;
}

.rightLogo a {
  padding: 0 10px;
}

.bottomFooter {
  text-align: center;
  font-weight: bold;
  background-color: #ffecda;
  padding: 10px 0;
  line-height: 1.2em;
  font-size: 0.8em;
}

/*====================================================*/
/*===                RWD斷點設定                     ==*/
/*====================================================*/

@media screen and (max-width: 768px) {
  .contact .ctBox {
    flex-direction: column;
  }

  .contact .ctBoxL,
  .ctBoxR {
    width: 100%;
    padding: 20px 0 0 0;

  }

  .booking .bgOpacity {
    padding: 60px 0;
  }
}

@media screen and (max-width: 600px) {

  /*============特色===============*/

  .features {
    padding: 40px 0;
  }

  .featuresList ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .featuresList ul li {
    width: 70%;
  }

  /*============關於===============*/

  .about .bgOpacity {
    flex-direction: column;
    padding: 60px 30px;
  }

  .about .aboutText {
    max-width: 80%;
    text-align: justify;
    padding: 30px 0;
  }

  /*============評價===============*/

  .mySlides ul {
    flex-direction: column;
  }

  .mySlides .quoteText {
    align-items: center;
  }

  /*============聯絡===============*/

  .contact .infoBox {
    font-size: 0.8em;
  }

  /*============頁尾===============*/

  .rightLogo .fblogo {
    width: 30px;
    height: 30px;
  }

  .rightLogo .iglogo {
    width: 30px;
    height: 30px;
  }

  .rightLogo .twitterlogo {
    width: 30px;
    height: 30px;
  }

  .rightLogo a {
    padding: 0 3px;
  }

  .leftLogo {
    padding-left: 0px;
  }

  .leftLogo .caterBlogo {
    width: 108px;
    height: 50px;
  }
}