.formBox {
    display: flex;
    justify-content: center;
}

.formGroup {
    width: 40%;
    margin: 20px;
}

h2.heading {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.formCtrl {
    position: relative;
}

.formCtrl input[type="text"],
.formCtrl input[type="email"],
.formCtrl input[type="datetime-local"],
.formCtrl input[type="tel"],
.formCtrl textarea,
.formCtrl select {
    padding: 12px;
    border: 0px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    /* font-family: 'Lato', 'sans-serif'; */
    font-size: 1em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: '源泉圓體';
}

.formCtrl textarea {
    height: 105px;
    resize: none;
}

#contact_comments {
    height: 130px;
    resize: none;
}

.formCtrl select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.formCtrl input[type="text"]:focus,
.formCtrl input[type="text"]:hover,
.formCtrl input[type="email"]:focus,
.formCtrl input[type="email"]:hover,
.formCtrl input[type="number"]:focus,
.formCtrl input[type="number"]:hover,
.formCtrl input[type="datetime-local"]:focus,
.formCtrl input[type="datetime-local"]:hover,
.formCtrl input[type="tel"]:focus,
.formCtrl input[type="tel"]:hover,
.formCtrl textarea:focus,
.formCtrl textarea:hover,
.formCtrl button:focus,
.formCtrl button:hover,
.formCtrl select:focus,
.formCtrl select:hover {
    outline: none;
    /* border-color: #9FB1C1; */
}

.formCtrl input[type="text"]:focus+label,
.formCtrl input[type="text"]:hover+label,
.formCtrl input[type="email"]:focus+label,
.formCtrl input[type="email"]:hover+label,
.formCtrl input[type="tel"]:focus+label,
.formCtrl input[type="tel"]:hover+label,
.formCtrl input[type="datetime-local"]:focus+label,
.formCtrl input[type="datetime-local"]:hover+label,
.formCtrl textarea:focus+label,
.formCtrl textarea:hover+label,
.formCtrl button:focus+label,
.formCtrl button:hover+label,
.formCtrl select:focus+label,
.formCtrl select:hover+label {
    color: #cc5c00;
    cursor: text;
}

.formCtrl input:-webkit-autofill,
.formCtrl input:-webkit-autofill:hover,
.formCtrl input:-webkit-autofill:focus,
.formCtrl input:-webkit-autofill:active {
    /*淡淡的白*/
    /* -webkit-box-shadow: 0 0 0px 1000px rgba(192,192,192,0.2) inset;  */
    /*透明*/
    transition: background-color 5000s ease-in-out 0s; 
    /*字體顏色*/
    /* -webkit-text-fill-color: #fff;  */
}

.formCtrl label {
    position: absolute;
    left: 8px;
    top: 12px;
    padding: 4px 10px;
    border-radius: 2px;
    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
}

.formCtrl label.active {
    top: -13px;
    color: rgb(61, 158, 31);
    background-color: rgb(255, 255, 255);
}

button {
    width: 100%;
    cursor: pointer;
    background-color: #1b3d4d;
    border: none;
    color: #fff;
    padding: 12px 0;
    font-size: 1em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

button:hover {
    background-color: #224c60;
}


.formCtrl input[type="datetime-local"]::-webkit-datetime-edit-fields-wrapper {
    visibility: hidden;
    font-family: '源泉圓體';
}

.formCtrl input[type="datetime-local"].empty::-webkit-datetime-edit-fields-wrapper {
    visibility: hidden;
    font-family: '源泉圓體';

}
.formCtrl input[type="datetime-local"].full::-webkit-datetime-edit-fields-wrapper {
    visibility: visible;
    font-family: '源泉圓體';
}

@media screen and (max-width: 768px) {
    .formBox {
        flex-direction: column;
        align-items: center;
    }
    .formGroup {
        width: 60%;
    }
}

@media screen and (max-width: 414px) {
    .formGroup {
        width: 80%;
    }
}